@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Paperlogy-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy-7Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Paperlogy-5Medium';
}

.blue {
    color: #3742fa;
    background-color: #DBEAFE;
    border-color: #3742fa;
}
.dark {
    color: #1e272e;
    background-color: #F3F4F6;
    border-color: #1e272e;
}
.red {
    color: #EA2027;
    background-color: #FEE2E2;
    border-color: #EA2027;
}
.green {
    color: #0be881;
    background-color: #DCFCE7;
    border-color: #0be881;
}
.yellow {
    color: #F79F1F;
    background-color: #FEF9C3;
    border-color: #F79F1F;
}
.indigo {
    color: #4834d4;
    background-color: #E0E7FF;
    border-color: #4834d4;
}
.purple {
    color: #c56cf0;
    background-color: #F3E8FF;
    border-color: #c56cf0;
}
.pink {
    color: #FC427B;
    background-color: #FCE7F3;
    border-color: #FC427B;
}